* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.btn__style {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn__style button {
  padding: 20px 30px;
  margin-top: 200px;
  font-size: medium;
}

.timer {
  display: flex;
  margin-left: 45px;
  margin-top: 40px;
  gap: 30px;
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-weight: 600;
  font-size: 60px;
}
